<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YBAutoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADFED1BF1E6FF2340059C8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFED1D81E6FF2340059C8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFED1E31E6FF2340059C8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
